.section {
    width: 50%;
    background: #303441;
    border-radius: 10px;
    display: flex;
    padding-bottom: 1em;
    margin-bottom: 2em;
}

.movie {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.poster {
    height: 25em;
}

.movie > p {
    color: white;
    font-weight: bold;
    font-size: 1.5em;
    width: 100%;
    text-align: center;
}

.info {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
    padding: 1em;
    gap: 1em;
}

.description {
    color: white;
    font-size: 1em;
    max-height: 10em;
    overflow: auto;
}

.data > p {
    display: flex;
    margin: 0;
    align-items: center;
    gap: 1em;
}

.text {
    color: white;
}

.grades {
    width:100%;
    display: flex;
    justify-content: space-around;
}

.icon {
    height: 3em;
}

.pair {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.number {
    color: white;
    margin: 0;
    font-weight: bold;
    font-size: 1.4em;
}

.extras {
    margin-top: 2em;
    display: flex;
    gap: 2em;
    align-self: center;
}

.smallIcon {
    height: 1.5em;
    cursor: pointer;
}

@media (max-width: 1300px) {
    .extras {
        margin-top: 0;
        flex-direction: column-reverse;
        gap: 0.5em;
    }

    .grades {
        transform: scale(0.8);
    }
}

@media (max-width: 1000px) {
    .section {
        transform: scale(0.8);
    }

    .smallIcon {
        height: 1em;
    }
}

@media (max-width: 500px) {
    .section {
        width: 100%;
        flex-direction: column;
    }

    .poster {
        height: 18em;
    }

    .smallIcon {
        height: 1.5em;
    }
}