.changeInput {
    width: 90%;
    margin-top: 4em;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1em;
    height: 2em;
    margin-bottom: 3em;
}

.changeText {
    color: #7C7F9D;
    font-size: 1.2em;
    margin-bottom: 0.2em;
}

.arrow {
    height: 1.4em;
}

.exitButton, .logoDiv {
    display: flex;
    align-items: center;
    gap: 1em;
}

.exitButton, .dropdownContainer, .dropdown {
    font-size: 1em;
    display: inline-block;
    outline: 0;
    cursor: pointer;
    background-color: #4299e1;
    padding: 8px 16px;
    font-weight: 700;
    color: white;
    line-height: 26px;
}

.logoImage {
    height: 4em;
}

.logoText > p {
    color: white;
    font-size: 1.5em;
    margin: 0 1.5em 0 0;
}

a, p {
    text-decoration: none;
    color: #7C7F9D;
}

.tabs {
    display: flex;
    color: #7C7F9D;
    align-items: center;
    gap: 2em;
    font-size: 1.2em;
}

.userDiv {
    width: 20%;
    gap: 1em;
    display: flex;
    align-items: center;
    justify-content: end;
}

.userDiv img:first-child {
    height: 2em;
}

.userDiv img:last-child {
    height: 1em;
}

.userDiv img:last-child:hover {
    cursor: pointer;
}

.menuTabs {
    display: flex;
    gap: 2em;
}

.whiteText {
    color: white;
}

.email {
    font-size: 0.9em;
    color: white;
}

.email:hover {
    cursor: pointer;
}

.dropdownContainer {
    position: relative;
}

.dropdown {
    position: absolute;
    top: 100%;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 0.5em;
    width: calc(100% - 32px);
}

.dropdownOption {
    color: white;
}

.dropdownOption:hover {
    cursor: pointer;
}

.rotated {
    transform: rotate(180deg);
}