.followingDiv {
    width: 100%;
    display: flex;
    gap: 5em;
}

.followingInfo {
    width: 70%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.searchUser {
    width: 20%;
    margin-top: 2em;
}

.title {
    margin: 0;
    color: #8AA3E3;
}