.rankingDiv {
    width: 90%;
    padding-bottom: 2em;
}

.headerMain {
    width: 30%;
}

.rankingType {
    margin-top: 1em;
    width: 50%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: #7C7F9D;
}

.line {
    position: relative;
    margin-left: 0;
    width: 50%;
}

.rankingType > p {
    margin: 0;
}

.movies {
    display: flex;
    flex-direction: column;
    gap: 2em;
}

.pagination {
    margin-top: 2em;
    display: flex;
    gap: 0.5em;
}

.normal, .active {
    background: linear-gradient(180deg, #3A6374 0%, rgba(70, 108, 125, 0.4) 100%);
    border-radius: 2px;
    color: #7C7F9D;
    font-weight: bold;
    font-size: 1.5em;
}

.active {
    color: white;
}