.alignInput {
    margin-top: 1em;
    width: 100%;
}

.titleInput {
    color: #7C7F9D;
    margin: 0 0 0.5em;
}

.styleInput {
    color: black;
    background: #778991;
    box-shadow: inset 2px 4px 4px rgba(132, 114, 114, 0.25);
    border-radius: 2px;
    width: calc(100% - 8px);
    height: 3em;
}

::placeholder {
    color: black;
}

.errorText {
    color: red;
}

@media (max-width: 500px) {
    .alignInput {
        width: 100%;
    }

    .styleInput {
        height: 2.5em;
    }
}