.movieTab {
    width: 70%;
    display: flex;
    margin-top: 2em;
    background: #22212D;
    border-radius: 10px;
    padding-right: 2em;
    cursor: pointer;
}

.number,
.mark {
    font-size: 2em;
    font-weight: bold;
    color: white;
    width: 10%;
    text-align: center;
    align-self: center;
}

.poster {
    height: 9em;
}

.movieInfo {
    width: 20%;
    margin-left: 1em;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.movieTitle {
    font-weight: bold;
    color: white;
}

.movieGenre {
    display: flex;
    gap: 1em;
    align-items: center;
    color: #7C7F9D;
}

.genreInfo {
    color: white;
}

.grade {
    display: flex;
    align-items: center;
    gap: 1em;
    margin-left: 4rem;
    color: #7C7F9D;
}

.date {
    font-size: 2em;
    font-weight: bold;
    color: white;
    width: 100%;
}

.grade > img {
    height: 3em;
}

.desc {
    font-size: 0.8em;
    align-self: center;
    width: 50%;
    max-height: 9em;
    overflow: auto;
}

@media (max-width: 500px) {
    .movieTab.mobile {
        flex-direction: column;
        align-items: center;
        margin-top: 1em;
        padding-right: 0;
    }

    .movieInfo {
        width: 100%;
        margin: 1em 0;
        align-items: center;
    }

    .desc {
        align-self: unset;
        width: 80%;
        margin-top: 1em;
        max-height: unset;
        overflow: unset;
        margin-bottom: 1em;
    }

    .grade {
        transform: scale(0.8);
        margin-left: 0;
    }
}
